<!DOCTYPE html>
<html>

        <head>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                      
  <style>
          
          div {
                  background-image:url('assets/Illustration2.png');
  }
  
                
        
                
        </style>
                </head>
<body>
        
        <a routerLink="/main" >
        <i style="font-size:18px" class="fa">&#xf0a8; Go Back</i>
        </a>
<br><br>
<h1>Details Page</h1>
  
    

      
      






 
  
    
    
      
        COUNTRY---{{ax.Country}}
        
        <br>
       BRAND-- {{ax.Brand}}
        <br>
       VARIETY--- {{ax.Variety}}
        <br>
       PACK--- {{ax.Pack}}
        <br>
        STARS---{{ax.Stars}}
       
     
       
 
  
 



</body>
</html>


